@import "../mixins.scss";
@import "../constants.scss";

.main {
  &__firstscreenvideo {
    @include block-margin-bottom;
  }
  &__firstscreenvideo__container {
    @include page-container;
  }
  &__firstscreenimage {
    @include block-margin-bottom;
  }

  &__firstscreenimage__container {
    @include page-container;
  }

  &__formrequest {
    @include form-children-direction;
  }

  &__formrequest__input {
    @include input-text;
  }

  &__formrequest__textarea {
    @include textarea;
  }

  &__formrequest__attachfile {
    @include block-attach-file;
  }

  &__formrequest__attachfilebutton {
    @include button-attach-file;
  }

  &__formrequest__attachfilename {
    @include text-attach-file-name;
  }

  &__formrequest__sendbutton {
    @include form-send-button;
  }

  &__contact {
    @include block-margin-bottom;
  }
  &__contact__container {
    @include page-container;
  }

  &__email {
    @include block-margin-bottom;
  }
  &__email__container {
    @include page-container;
  }
  &__landingmonolink {
    @include block-margin-bottom;
  }
  &__landingmonolink__container {
    @include page-container;
  }
  &__faq {
    @include block-margin-bottom;
    position: relative;
    background-color: $bg-color-dark;
  }
  &__faq__container {
    @include page-container;
    display: flex;
    justify-content: center;
  }

  &__faq__patternbig {
    @include bigpattern-style;
    background-image: url(../../public/uipictures/pattern_white_pointer.png);
    top: 30%;
    right: 9%;
    @include d1440px {
      right: 3%;
    }
    @include p1150px {
      right: 2%;
    }
  }
  &__faq__patternsmall {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_white_pointer.png);
    bottom: 10%;
    left: 6%;
    @include p920px {
      left: 2%;
    }
  }
  &__landingmultilink {
    position: relative;
    @include block-margin-bottom;
  }
  &__landingmultilink__container {
    @include page-container;
  }
  &__landingmultilink__patternsmall__top {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_black_pointer.png);
    top: 10%;
    right: 9%;
  }
  &__landingmultilink__patternsmall__bottom {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_black_pointer.png);
    bottom: 10%;
    left: 9%;
  }
}
