@import "../mixins.scss";
@import "../constants.scss";

.main {
  &__firstscreenvideo {
    @include block-margin-bottom;
  }

  &__firstscreenvideo__container {
    @include page-container;
  }
  &__h2component__container {
    @include page-container;
  }
  &__aboutcourseprogramm {
    background-color: $bg-color-white;
  }
  &__aboutcourseprogramm__container {
    @include page-container;
  }
  &__aboutcourseprogramm__image {
    background-image: url(../../public/uipictures/arrow.svg);
    margin: -80px auto 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include d1440px {
      margin: -70px auto 0;
      width: 55px;
      height: 55px;
    }
    @include p1150px {
      margin: -60px auto 0;
      width: 50px;
      height: 50px;
    }
    @include p920px {
      margin: -40px auto 0;
      width: 50px;
      height: 50px;
    }
    @include m680px {
      margin: -25px auto 0;
      width: 40px;
      height: 40px;
    }
  }
  &__listmoduleofcourse {
    margin-top: 90px;
    background-color: $bg-color-smoky;
    @include m680px {
      margin-top: 40px;
    }
  }
  &__listmoduleofcourse__container {
    @include page-container;
  }
  &__aboutportfolio {
    background-color: $bg-color-dark;
    position: relative;
    @include block-margin-bottom;
  }
  &__aboutportfolio__container {
    @include page-container;
  }
  &__aboutportfolio__patternbig {
    @include bigpattern-style;
    background-image: url(../../public/uipictures/pattern_white_pointer.png);
    top: 15%;
    left: 7%;
  }
  &__aboutportfolio__borderbottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__thematicpointlist__container {
    @include page-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    @include d1440px {
      padding-top: 90px;
    }
    @include m680px {
      padding-top: 60px;
    }
  }
  &__thematicpointlist__linktext {
    padding: 90px 0 130px;
    @include d1440px {
      padding: 80px 0 100px;
    }
    @include p1150px {
      padding: 70px 0 90px;
    }
    @include p920px {
      padding: 60px 0 76px;
    }
    @include m680px {
      padding: 48px 0 60px;
    }
  }
  &__aboutportfolio__patternsmall {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_white_pointer.png);
    bottom: 15%;
    right: 9%;
    @include p1150px {
      bottom: 15%;
      left: 1%;
    }
    @include p920px {
      bottom: 5%;
      left: unset;
      right: 8%;
    }
  }
  &__landingmultilink {
    position: relative;
    @include block-margin-bottom;
  }
  &__landingmultilink__container {
    @include page-container;
  }
  &__landingmultilink__patternsmall__top {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_black_pointer.png);
    top: 10%;
    right: 9%;
  }
  &__landingmultilink__patternsmall__bottom {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_black_pointer.png);
    bottom: 10%;
    left: 9%;
  }
  &__landingmonolink {
    @include block-margin-bottom;
  }
  &__landingmonolink__container {
    @include page-container;
  }
  &__faq {
    @include block-margin-bottom;
    position: relative;
    background-color: $bg-color-dark;
  }
  &__faq__container {
    @include page-container;
    display: flex;
    justify-content: center;
  }

  &__faq__patternbig {
    @include bigpattern-style;
    background-image: url(../../public/uipictures/pattern_white_pointer.png);
    top: 30%;
    right: 9%;
    @include d1440px {
      right: 3%;
    }
    @include p1150px {
      right: 2%;
    }
  }
  &__faq__patternsmall {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_white_pointer.png);
    bottom: 10%;
    left: 6%;
    @include p920px {
      left: 2%;
    }
  }
}
