@import "../mixins.scss";
@import "../constants.scss";

.main {
  &__firstscreenvideo {
    @include block-margin-bottom;
  }
  &__firstscreenvideo__container {
    @include page-container;
  }
  &__firstscreenimage {
    @include block-margin-bottom;
  }

  &__firstscreenimage__container {
    @include page-container;
  }

  &__ordercomponent {
    @include block-margin-bottom;
  }
  &__ordercomponent__container {
    @include page-container;
  }

  &__descriptionofnodes {
    @include block-margin-bottom;
    background-color: $bg-color-smoky;
    position: relative;
    z-index: 0;
  }
  &__descriptionofnodes__container {
    @include page-container;
  }
  &__paragraphgrid {
    @include block-margin-bottom;
  }
  &__paragraphgrid__container {
    @include page-container;
  }

  &__descriptionofnodes__patternbigtop {
    z-index: -1;
    @include bigpattern-style;
    background-image: url(../../public/uipictures/pattern_gray_pointer.png);
    top: 4%;
    right: 6%;
  }

  &__descriptionofnodes__patternsmallbottom {
    z-index: -1;
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_gray_pointer.png);
    bottom: 1%;
    left: 3%;
  }

  &__supervisor {
    @include block-margin-bottom;
  }
  &__supervisor__container {
    @include page-container;
    position: relative;
  }
  &__supervisor__patternsmalltop {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_gray_pointer.png);
    top: 18%;
    left: 11%;
  }
  &__supervisor__patternsmallbottom {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_gray_pointer.png);
    bottom: 12%;
    right: 9%;
  }

  &__aboutportfolio {
    background-color: $bg-color-dark;
    position: relative;
    @include block-margin-bottom;
  }
  &__aboutportfolio__container {
    @include page-container;
  }
  &__aboutportfolio__patternbig {
    @include bigpattern-style;
    background-image: url(../../public/uipictures/pattern_white_pointer.png);
    top: 15%;
    left: 7%;
  }
  &__aboutportfolio__borderbottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__thematicpointlist__container {
    @include page-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    @include d1440px {
      padding-top: 90px;
    }
    @include m680px {
      padding-top: 60px;
    }
  }
  &__thematicpointlist__linktext {
    padding: 90px 0 130px;
    @include d1440px {
      padding: 80px 0 100px;
    }
    @include p1150px {
      padding: 70px 0 90px;
    }
    @include p920px {
      padding: 60px 0 76px;
    }
    @include m680px {
      padding: 48px 0 60px;
    }
  }
  &__aboutportfolio__patternsmall {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_white_pointer.png);
    bottom: 15%;
    right: 9%;
    @include p1150px {
      bottom: 15%;
      left: 1%;
    }
    @include p920px {
      bottom: 5%;
      left: unset;
      right: 8%;
    }
  }
  &__landingmultilink {
    position: relative;
    @include block-margin-bottom;
  }
  &__landingmultilink__container {
    @include page-container;
  }
  &__landingmultilink__patternsmall__top {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_black_pointer.png);
    top: 10%;
    right: 9%;
  }
  &__landingmultilink__patternsmall__bottom {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_black_pointer.png);
    bottom: 10%;
    left: 9%;
  }
  &__landingmonolink {
    @include block-margin-bottom;
  }
  &__landingmonolink__container {
    @include page-container;
  }
  &__faq {
    @include block-margin-bottom;
    position: relative;
    background-color: $bg-color-dark;
  }
  &__faq__container {
    @include page-container;
    display: flex;
    justify-content: center;
  }

  &__faq__patternbig {
    @include bigpattern-style;
    background-image: url(../../public/uipictures/pattern_white_pointer.png);
    top: 30%;
    right: 9%;
    @include d1440px {
      right: 3%;
    }
    @include p1150px {
      right: 2%;
    }
  }
  &__faq__patternsmall {
    @include smallpattern-style;
    background-image: url(../../public/uipictures/pattern_white_pointer.png);
    bottom: 10%;
    left: 6%;
    @include p920px {
      left: 2%;
    }
  }
}
