@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.FirstScreenVideo {
  display: grid;
  grid-template: 1fr auto / 1fr 1fr auto;
  column-gap: 15px;
  row-gap: 8px;
  width: 100%;
  height: 664px;
  @include d1440px {
    height: 564px;
  }
  @include p1150px {
    height: 478px;
  }
  @include p920px {
    height: 739px;
    grid-template: auto 428px auto / 1fr auto;
    column-gap: 8px;
    row-gap: 12px;
  }
  @include m680px {
    height: 556px;
    grid-template: auto 296px auto / 1fr auto;
    column-gap: 16px;
    row-gap: 12px;
  }

  &__open {
    .FirstScreenVideo__PopUpVideo {
      display: block;
    }
    .FirstScreenVideo__BackDropVideo {
      display: block;
    }
  }

  &__H1Title {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    align-self: center;
    margin-bottom: 115px;
    @include d1440px {
      margin-bottom: 70px;
    }
    @include p1150px {
      margin-bottom: 60px;
    }
    @include p920px {
      grid-row: 1;
      grid-column: 1;
      margin-bottom: 20px;
    }
    @include m680px {
      margin-bottom: 10px;
    }
  }
  &__Image {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: auto;
    position: relative;
    height: 537px;
    width: 480px;
    transform: rotate(8.05deg);
    @include d1440px {
      height: 445px;
      width: 398px;
    }
    @include p1150px {
      height: 368px;
      width: 329px;
    }
    @include p920px {
      grid-row: 2;
      grid-column: 1;
    }
    @include m680px {
      height: 256px;
      width: 229px;
    }
  }
  &__PatternImage {
    position: absolute;
    top: 55%;
    right: -16%;
    background-image: url(../../public/uipictures/pattern_greenish_pointer.png);
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: right;
    align-self: flex-end;
    height: 184px;
    width: 184px;
    transform: rotate(7.56deg);
    z-index: -1;
    @include d1440px {
      height: 121px;
      width: 121px;
    }
    @include p1150px {
      height: 116px;
      width: 116px;
    }
    @include m680px {
      height: 95px;
      width: 95px;
    }
  }
  &__SocialNetwork {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    margin: auto;
    @include p920px {
      grid-row: 1 / 3;
      grid-column: 2;
    }
  }
  &__ButtonPlayVideo {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    margin: auto;
    @include d1440px {
      padding-top: 20px;
    }
    @include p1150px {
      padding-top: 14px;
    }
    @include p920px {
      grid-row: 3;
      grid-column: 1;
      padding-top: 25px;
    }
    @include m680px {
      padding-top: 20px;
    }
    :focus {
      outline: none;
    }
  }
  &__PopUpVideo {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 4;
    height: 515px;
    width: 890px;
    @include d1440px {
      height: 460px;
      width: 818px;
    }
    @include p1150px {
      height: 360px;
      width: 640px;
    }
    @include p920px {
      height: 320px;
      width: 570px;
    }
    @include m680px {
      height: 180px;
      width: 320px;
    }
  }
  &__ClosePopUpVideo {
    position: relative;
    cursor: pointer;
    background-image: url(../../public/uipictures/form_close.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    top: -565px;
    left: 860px;
    @include d1440px {
      height: 26px;
      width: 26px;
      top: -505px;
      left: 794px;
    }
    @include p1150px {
      height: 24px;
      width: 24px;
      top: -400px;
      left: 618px;
    }
    @include p920px {
      height: 20px;
      width: 20px;
      top: -356px;
      left: 552px;
    }
    @include m680px {
      height: 20px;
      width: 20px;
      top: -220px;
      left: 302px;
    }
  }
  &__BackDropVideo {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
  }
}
