@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.ParagraphGrid {
  @include list-style-none;

  &__item {
    background-color: $bg-color-gray;
    padding: 40px 80px 40px 65px;
    margin-bottom: 40px;
    display: grid;
    column-gap: 80px;
    grid-template: 1fr / 1fr 3.5fr;
    &:last-child {
      margin-bottom: 0;
    }
    @include d1440px {
      grid-template: 1fr / 1fr 3fr;
      padding: 36px 60px 36px 45px;
      margin-bottom: 30px;
      column-gap: 60px;
    }
    @include p1150px {
      grid-template: 1fr / 1fr 2.5fr;
      padding: 30px 40px 30px 30px;
      margin-bottom: 26px;
      column-gap: 40px;
    }
    @include p920px {
      grid-template: 1fr / 1fr 2fr;
      padding: 20px 30px 20px 20px;
      margin-bottom: 20px;
      column-gap: 30px;
    }
    @include m680px {
      grid-template: auto 1fr / 1fr;
      padding: 20px 10px 20px 10px;
      margin-bottom: 18px;
      column-gap: unset;
      row-gap: 24px;
    }
  }
  &__name {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-family: $font-family-base;
    color: $font-color-base;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    @include d1440px {
      font-size: 23px;
      line-height: 28px;
    }
    @include p1150px {
      font-size: 21px;
      line-height: 26px;
    }
    @include p920px {
      font-size: 19px;
      line-height: 23px;
    }
    @include m680px {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__text {
    grid-column: 2;
    grid-row: 1;
    @include p1150px {
      p {
        width: 513px;
      }
    }
    @include p920px {
      p {
        width: 339px;
      }
    }
    @include m680px {
      grid-column: 1;
      grid-row: 2;
      p {
        width: 307px;
        text-align: left;
      }
    }
  }
}
