$font-family-base: "Roboto", "Arial", sans-serif;
$font-family-headline: "Montserrat", "Arial", sans-serif;

$font-color-base: #313131;
$font-color-light: #eceff1;
$font-color-white: #ffffff;
$font-color-greenish: #006472;
$font-color-brown: #c07d53;

$bg-color-white: #ffffff;
$bg-color-smoky: #f6f5f1;
$bg-color-dark: #263238;
$bg-color-brown: #c07d53;
$bg-color-greenish: #006472;
$bg-color-gray: #e0e7ea;
$bg-color-darkgray: #c3c9cb;
$bg-color-brownligth: #e9e6da;
