@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../public/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(../public/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(../public/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(../public/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url(../public/fonts/Montserrat-ExtraBold.ttf);
}
