@mixin page-container() {
  margin: 0 auto;
  max-width: 1630px;
  min-width: 360px;
  height: 100%;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  @include d1440px {
    max-width: 1150px;
  }
  @include p1150px {
    max-width: 1005px;
    padding-left: 35px;
    padding-right: 35px;
  }
  @include p920px {
    max-width: 760px;
    padding-left: 35px;
    padding-right: 35px;
  }
  @include m680px {
    max-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin link-text-hover() {
  &:hover {
    cursor: pointer;
    opacity: 0.75;
    transition-duration: 0.9s;
  }
}

@mixin list-style-none {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin text-style {
  font-family: $font-family-base;
  margin: 0;
  width: 750px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  @include d1440px {
    width: 650px;
    font-size: 18px;
    line-height: 28px;
  }
  @include p1150px {
    width: 580px;
    font-size: 16px;
    line-height: 26px;
  }
  @include p920px {
    width: 444px;
    font-size: 15px;
    line-height: 25px;
  }
  @include m680px {
    width: 305px;
    font-size: 14px;
    line-height: 24px;
  }
}

@mixin text-style-without-width {
  font-family: $font-family-base;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  @include d1440px {
    font-size: 18px;
    line-height: 28px;
  }
  @include p1150px {
    font-size: 16px;
    line-height: 26px;
  }
  @include p920px {
    font-size: 15px;
    line-height: 25px;
  }
  @include m680px {
    font-size: 14px;
    line-height: 24px;
  }
}

@mixin paragraph-item-padding-bottom {
  padding-bottom: 40px;
  &:last-of-type {
    padding-bottom: 0;
  }
  @include d1440px {
    padding-bottom: 30px;
  }
  @include p1150px {
    padding-bottom: 28px;
  }
  @include p920px {
    padding-bottom: 26px;
  }
  @include m680px {
    padding-bottom: 24px;
  }
}

@mixin h2-style {
  font-family: $font-family-headline;
  margin: 0;
  width: 700px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.02em;
  padding: 0 0 90px;
  @include d1440px {
    width: 550px;
    font-size: 34px;
    line-height: 44px;
    padding: 0 0 60px;
  }
  @include p1150px {
    width: 480px;
    font-size: 30px;
    line-height: 42px;
    padding: 0 0 50px;
  }
  @include p920px {
    width: 420px;
    font-size: 28px;
    line-height: 40px;
    padding: 0 0 46px;
  }
  @include m680px {
    width: 300px;
    font-size: 22px;
    line-height: 32px;
    padding: 0 0 40px;
  }
}

@mixin h2-style-without-width {
  font-family: $font-family-headline;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.02em;
  padding: 0 0 90px;
  @include d1440px {
    font-size: 34px;
    line-height: 44px;
    padding: 0 0 60px;
  }
  @include p1150px {
    font-size: 30px;
    line-height: 42px;
    padding: 0 0 50px;
  }
  @include p920px {
    font-size: 28px;
    line-height: 40px;
    padding: 0 0 46px;
  }
  @include m680px {
    font-size: 22px;
    line-height: 32px;
    padding: 0 0 40px;
  }
}

@mixin h3-style {
  margin: 0;
  width: 650px;
  font-family: $font-family-headline;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.02em;
  @include d1440px {
    width: 550px;
    font-size: 28px;
  }
  @include p1150px {
    width: 480px;
    font-size: 25px;
  }
  @include p920px {
    width: 420px;
    font-size: 22px;
  }
  @include m680px {
    font-size: 20px;
    width: 300px;
  }
}

@mixin block-margin-bottom {
  margin-bottom: 130px;
  @include d1440px {
    margin-bottom: 100px;
  }
  @include p1150px {
    margin-bottom: 90px;
  }
  @include p920px {
    margin-bottom: 84px;
  }
  @include m680px {
    margin-bottom: 74px;
  }
}

@mixin block-padding-top-bottom {
  padding-top: 130px;
  padding-bottom: 130px;
  @include d1440px {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  @include p1150px {
    padding-top: 82px;
    padding-bottom: 82px;
  }
  @include p920px {
    padding-top: 74px;
    padding-bottom: 74px;
  }
  @include m680px {
    padding-top: 47px;
    padding-bottom: 47px;
  }
}

@mixin block-width {
  width: 750px;
  @include p1150px {
    width: 700px;
  }
  @include p920px {
    width: 580px;
  }
  @include m680px {
    width: 320px;
  }
}

@mixin bigpattern-style {
  position: absolute;
  width: 170px;
  height: 170px;
  transform: rotate(16deg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include d1440px {
    width: 140px;
    height: 140px;
  }
  @include p1150px {
    width: 96px;
    height: 96px;
  }
  @include p920px {
    width: 90px;
    height: 90px;
  }
  @include m680px {
    display: none;
  }
}

@mixin smallpattern-style {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(16deg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include d1440px {
    width: 82px;
    height: 82px;
  }
  @include p1150px {
    width: 54px;
    height: 54px;
  }
  @include p920px {
    width: 60px;
    height: 60px;
  }
  @include m680px {
    display: none;
  }
}

@mixin form-children-direction {
  display: flex;
  flex-direction: column;
}

@mixin input-text {
  border: none;
  padding: 5px 15px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  color: $font-color-base;
  @include text-style-without-width;
  margin: 0 0 40px;
  @include d1440px {
    height: 52px;
    padding: 5px 12px;
    margin: 0 0 36px;
  }
  @include p1150px {
    height: 44px;
    padding: 5px 10px;
    margin: 0 0 30px;
  }
  @include p920px {
    height: 38px;
    padding: 5px 8px;
    margin: 0 0 24px;
  }
  @include m680px {
    height: 40px;
    padding: 4px 6px;
  }

  &::placeholder {
    @include text-style-without-width;
    color: rgba(0, 0, 0, 0.4);
  }

  &:focus {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.18);
    outline: none;
  }
}

@mixin textarea {
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  @include text-style-without-width;
  margin: 0 0 40px;
  padding: 10px 15px;
  resize: none;
  color: $font-color-base;
  @include d1440px {
    height: 110px;
    margin: 0 0 36px;
    padding: 8px 12px;
  }
  @include p1150px {
    height: 110px;
    margin: 0 0 30px;
    padding: 8px 10px;
  }
  @include p920px {
    height: 110px;
    margin: 0 0 24px;
    padding: 8px 8px;
  }
  @include m680px {
    height: 100px;
    margin: 0 0 32px;
    padding: 8px 6px;
  }

  &::placeholder {
    @include text-style-without-width;
    color: rgba(0, 0, 0, 0.4);
  }

  &:focus {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.18);
    outline: none;
  }
}

@mixin form-send-button {
  border: none;
    width: fit-content;
    padding: 15px 30px;
    background-color: $bg-color-greenish;
    @include text-style-without-width;
    font-weight: 700;
    color: $font-color-white;
    @include d1440px {
      padding: 14px 28px;
    }
    @include p1150px {
      padding: 13px 26px;
    }
    @include p920px {
      padding: 12px 23px;
    }
    @include m680px {
      padding: 10px 20px;
    }

    &:hover {
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.18);
      cursor: pointer;
    }
    &:focus {
      outline: none;
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.18);
    }
}

@mixin block-attach-file {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 0 30px;
  @include d1440px {
    margin: 0 0 28px;
  }
  @include p1150px {
    margin: 0 0 26px;
  }
  @include p920px {
    margin: 0 0 22px;
    flex-direction: column;
    align-items: flex-start;
  }
  @include m680px {
    margin: 0 0 20px;
  }
}

@mixin button-attach-file {
  border: none;
  width: fit-content;
  padding: 8px 20px;
  background-color: $bg-color-brown;
  color: $font-color-white;
  @include text-style-without-width;
  font-weight: 700;
  margin-right: 30px;
  @include d1440px {
    margin-right: 28px;
    padding: 7px 18px;
  }
  @include p1150px {
    margin-right: 26px;
    padding: 6px 18px;
  }
  @include p920px {
    margin-right: unset;
    margin-bottom: 9px;
    padding: 5px 18px;
  }

  &:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.18);
    cursor: pointer;
  }
  &:focus {
    outline: none;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.18);
  }
}

@mixin text-attach-file-name {
  color: rgba(38, 50, 56, 0.6);
  @include text-style-without-width;
}

@mixin d1440px {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin p1150px {
  @media screen and (max-width: 1150px) {
    @content;
  }
}

@mixin p920px {
  @media screen and (max-width: 920px) {
    @content;
  }
}

@mixin m680px {
  @media screen and (max-width: 680px) {
    @content;
  }
}
