@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.HeaderNavSubMenu {
  @include page-container;
  display: grid;
  grid-template: 1fr / 3fr 1.2fr;
  column-gap: 32px;
  @include d1440px {
    grid-template: 1fr / 2fr 1fr;
    column-gap: 30px;
  }
  @include p920px {
    grid-template: 1fr / 1fr 1fr;
  }
  @include m680px {
    display: block;
    padding: 0;
  }

  &__SubMenuItems {
    display: grid;
    grid-template: min-content/repeat(3, 1fr);
    @include list-style-none;
    margin: 60px 0 80px;
    column-gap: 35px;
    row-gap: 40px;
    @include d1440px {
      grid-template: min-content/repeat(2, 1fr);
      margin: 50px 0 66px;
      column-gap: 28px;
      row-gap: 30px;
    }
    @include p920px {
      grid-template: min-content/ 1fr;
      column-gap: 24px;
    }
    @include m680px {
      margin: 24px 0 40px;
    }
  }

  &__SubMenuItem {
    justify-self: center;
    @include d1440px {
      justify-self: start;
    }
  }

  &__LandingMenu {
    justify-self: end;
    margin: 60px 0 80px;
    @include d1440px {
      margin: 50px 0 66px;
    }
    @include m680px {
      margin: 18px 0 30px;
    }
  }
}
