@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.Footer {
  &__top {
    background-color: $bg-color-dark;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 45px;
    @include d1440px {
      padding: 80px 0 40px;
    }
    @include p1150px {
      padding: 70px 0 34px;
    }
    @include p920px {
      padding: 60px 0 30px;
    }
    @include m680px {
      padding: 50px 0 24px;
    }
  }
  &__logo {
    opacity: 0.82;
    padding-bottom: 45px;
    @include d1440px {
      padding-bottom: 40px;
      height: 46px;
      width: 183px;
    }
    @include p1150px {
      padding-bottom: 34px;
      height: 43px;
      width: 171px;
    }
    @include p920px {
      padding-bottom: 30px;
      height: 40px;
      width: 159px;
    }
    @include m680px {
      padding-bottom: 24px;
      height: 37px;
      width: 147px;
    }
  }
  &__text {
    @include text-style;
    text-align: center;
    color: $font-color-white;
    padding-bottom: 45px;
    @include d1440px {
      padding-bottom: 40px;
    }
    @include p1150px {
      padding-bottom: 34px;
    }
    @include p920px {
      padding-bottom: 30px;
    }
    @include m680px {
      padding-bottom: 24px;
    }
  }
  &__textspan {
    color: $font-color-brown;
  }
  &__links {
    padding-bottom: 45px;
    @include d1440px {
      padding-bottom: 40px;
    }
    @include p1150px {
      padding-bottom: 34px;
    }
    @include p920px {
      padding-bottom: 30px;
    }
    @include m680px {
      padding-bottom: 24px;
    }
  }
  &__socialnetworkfooter {
    padding-bottom: 45px;
    @include d1440px {
      padding-bottom: 40px;
    }
    @include p1150px {
      padding-bottom: 34px;
    }
    @include p920px {
      padding-bottom: 30px;
    }
    @include m680px {
      padding-bottom: 24px;
    }
  }
  &__contacttext {
    margin: 0;
    padding-bottom: 8px;
    font-family: $font-family-headline;
    font-size: 18px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: $font-color-white;
    @include d1440px {
      font-size: 17px;
      line-height: 33px;
    }
    @include p1150px {
      font-size: 16px;
      line-height: 31px;
    }
    @include p920px {
      font-size: 15px;
      line-height: 28px;
    }
    @include m680px {
      font-size: 14px;
      line-height: 25px;
    }
  }
  &__contactemail {
    margin: 0;
    text-decoration: none;
    font-family: $font-family-base;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: $font-color-white;
    @include d1440px {
      font-size: 17px;
      line-height: 23px;
    }
    @include p1150px {
      font-size: 16px;
      line-height: 21px;
    }
    @include p920px {
      font-size: 15px;
      line-height: 19px;
    }
    @include m680px {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__copyrighttext {
    background-color: black;
    margin: 0;
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.05rem;
    color: $font-color-white;
    text-align: center;
    padding: 30px 0;
    @include d1440px {
      line-height: 19px;
      padding: 28px 0;
    }
    @include p1150px {
      line-height: 18px;
      padding: 26px 0;
    }
    @include p920px {
      font-size: 15px;
      line-height: 17px;
      padding: 24px 0;
    }
    @include m680px {
      font-size: 14px;
      line-height: 15px;
      padding: 22px 0;
    }
  }
  &__copyrightlink {
    text-decoration: none;
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.05rem;
    color: rgba(255, 255, 255, 0.6);
    @include d1440px {
      line-height: 19px;
    }
    @include p1150px {
      line-height: 18px;
    }
    @include p920px {
      font-size: 15px;
      line-height: 16px;
    }
    @include m680px {
      font-size: 14px;
      line-height: 15px;
    }
  }
}
