@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.ListOfTopic {
  @include list-style-none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  column-gap: 32px;
  row-gap: 80px;
  @include d1440px {
    column-gap: 28px;
    row-gap: 70px;
  }
  @include p1150px {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 26px;
    row-gap: 66px;
  }
  @include p920px {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 60px;
  }
  @include m680px {
    grid-template-columns: 1fr;
    column-gap: unset;
    row-gap: 56px;
  }

  &__item {
    display: grid;
    grid-template: auto 1fr auto / 1fr;
    justify-items: center;
    background: linear-gradient(to top, #f6f5f1 76%, #fff 76%);
    padding: 0 30px 30px 30px;
    @include d1440px {
      padding: 0 26px 26px 26px;
    }
    @include p920px {
      padding: 0 24px 24px 24px;
    }
    @include m680px {
      padding: 0 23px 23px 23px;
    }
  }
  &__image {
    padding-bottom: 40px;
    @include d1440px {
      padding-bottom: 36px;
    }
    @include p1150px {
      padding-bottom: 34px;
    }
    @include p920px {
      padding-bottom: 32px;
    }
    @include m680px {
      padding-bottom: 30px;
    }
  }
  &__title {
    margin: 0;
    font-family: $font-family-base;
    color: $font-color-base;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    justify-self: start;
    padding-bottom: 40px;

    @include d1440px {
      font-size: 21px;
      line-height: 29px;
      padding-bottom: 36px;
    }
    @include p1150px {
      font-size: 20px;
      line-height: 26px;
      padding-bottom: 34px;
    }
    @include p920px {
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 32px;
    }
    @include p920px {
      font-size: 17px;
      line-height: 23px;
      padding-bottom: 30px;
    }
  }
  &__info {
    margin: 0;
    font-family: $font-family-base;
    color: $font-color-base;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    justify-self: start;
    @include d1440px {
      font-size: 18px;
      line-height: 28px;
    }
    @include p1150px {
      font-size: 16px;
      line-height: 26px;
    }
    @include p920px {
      font-size: 15px;
      line-height: 24px;
    }
    @include m680px {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
