@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.LandingLinks {
  @include list-style-none;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__linkitem {
    padding-bottom: 60px;
    @include d1440px {
      padding-bottom: 50px;
    }
    @include p1150px {
      padding-bottom: 46px;
    }
    @include p920px {
      padding-bottom: 42px;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__link {
    text-decoration: none;
  }
  &__button {
    box-sizing: border-box;
    width: fit-content;
    border-radius: 4px;
    background: rgba(192, 125, 83, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $bg-color-greenish;
      transition-duration: 0.5s;
    }
  }
  &__linktext {
    color: $font-color-light;
    margin: 0;
    font-family: $font-family-base;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 6px 20px;
    @include d1440px {
      font-size: 18px;
      line-height: 24px;
      padding: 5px 20px;
    }
    @include p1150px {
      font-size: 17px;
      line-height: 23px;
      padding: 5px 18px;
    }
    @include p920px {
      font-size: 16px;
      line-height: 22px;
      padding: 5px 16px;
    }
    @include m680px {
      font-size: 15px;
      line-height: 21px;
      padding: 5px 14px;
    }
  }
}
