@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.NavMenuLinks {
  @include list-style-none;
  font-family: $font-family-base;
  display: flex;

  @include p920px {
    width: 100%;
    justify-content: space-between;
  }

  &__open {
    .NavMenuLinks__HeaderNavSubMenu {
      border-bottom: 1px solid rgba(0, 100, 114, 0.5);
      max-height: 200vh;
      transition: max-height 0.75s ease-in;
    }
    @include p1150px {
      max-height: 300vh;
    }
    @include p920px {
      max-height: 400vh;
    }
  }

  &__item {
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
    @include d1440px {
      margin-right: 25px;
    }
    @include p1150px {
      margin-right: 18px;
    }
    @include p920px {
      margin-right: unset;
    }
  }

  &__text {
    position: relative;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: $font-color-base;
    @include d1440px {
      font-size: 15px;
      line-height: 15px;
    }
    @include p1150px {
      font-size: 13px;
      line-height: 13px;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.82;
    }

    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      width: 0;
      height: 1px;
      background-color: $font-color-base;
      transition: width 0.17s ease-out;
      border-bottom: 57px solid rgba(255, 255, 255, 1);
      @include d1440px {
        border-bottom: 35px solid rgba(255, 255, 255, 1);
      }
      @include p1150px {
        border-bottom: 27px solid rgba(255, 255, 255, 1);
      }
      @include p920px {
        border-bottom: 22px solid rgba(255, 255, 255, 1);
      }
    }
    &:hover:after,
    &:focus:after {
      width: 100%;
      opacity: 0.82;
    }
  }

  &__HeaderNavSubMenu {
    max-height: 0;
    transition: max-height 0.38s ease-out;
    overflow: hidden;
    box-shadow: inset 0px 3px 2px 0px rgba(0, 0, 0, 0.18);
    background-color: $bg-color-smoky;
    position: absolute;
    left: 0;
    right: 0;
    top: 136px;
    @include d1440px {
      top: 87px;
    }
    @include p1150px {
      top: 70px;
    }
    @include p920px {
      top: 60px;
    }
  }
}
