@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.FirstScreenImage {
  display: grid;
  grid-template: auto / 1fr 1fr auto;
  column-gap: 20px;
  width: 100%;
  @include d1440px {
    column-gap: 18px;
  }
  @include p1150px {
    column-gap: 17px;
  }

  @include p920px {
    grid-template: auto auto / 1fr auto;
    column-gap: 16px;
    row-gap: 66px;
  }
  @include m680px {
    row-gap: 40px;
  }

  &__H1Title {
    grid-row: 1;
    grid-column: 1;
    margin: auto;

    @include p920px {
      grid-row: 1;
      grid-column: 1;
    }

    @include m680px {
      max-width: 280px;
    }
  }
  &__Image {
    grid-row: 1;
    grid-column: 2;
    margin: auto;

    @include p920px {
      grid-row: 2;
      grid-column: 1;
    }
  }

  &__SocialNetwork {
    grid-row: 1;
    grid-column: 3;
    margin: auto;
    padding-left: 30px;
    @include p920px {
      grid-row: 1 / 3;
      grid-column: 2;
    }
    @include m680px {
      padding-left: 10px;
    }
  }
}
