@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.OrderChildrenImageText {
  &__title {
    @include h2-style;
    text-align: center;
    margin: 0 auto;
    @include p1150px {
      width: 430px;
    }
    @include p920px {
      width: 264px;
    }
    @include m680px {
      width: 292px;
    }
  }
  &__items {
    @include list-style-none;
  }
  &__item {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    padding-bottom: 45px;
    &:last-child {
      padding-bottom: 0;
    }
    @include d1440px {
      padding-bottom: 42px;
    }
    @include p1150px {
      padding-bottom: 40px;
    }
    @include p920px {
      padding-bottom: 38px;
    }
    @include m680px {
      padding-bottom: 34px;
    }
  }
  &__image {
    grid-row: 1 / 3;
    grid-column: 1;
    height: 54px;
    width: 54px;
    padding-right: 26px;

    @include d1440px {
      height: 50px;
      width: 50px;
      padding-right: 24px;
    }

    @include p1150px {
      height: 46px;
      width: 46px;
      padding-right: 22px;
    }
    @include p920px {
      height: 38px;
      width: 38px;
      padding-right: 16px;
    }
  }
  &__itemtitle {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    padding-bottom: 26px;

    font-family: $font-family-base;
    color: $font-color-base;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    @include d1440px {
      padding-bottom: 20px;
      font-size: 23px;
      line-height: 28px;
    }
    @include p1150px {
      padding-bottom: 18px;
      font-size: 21px;
      line-height: 26px;
    }
    @include p920px {
      padding-bottom: 14px;
      font-size: 19px;
      line-height: 24px;
    }
    @include m680px {
      padding-bottom: 12px;
      font-size: 17px;
      line-height: 21px;
    }
  }
  &__itemtext {
    grid-row: 2;
    grid-column: 2;
    margin: 0;

    font-family: $font-family-base;
    color: $font-color-base;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    @include d1440px {
      font-size: 19px;
      line-height: 27px;
    }
    @include p1150px {
      font-size: 17px;
      line-height: 25px;
    }
    @include p920px {
      font-size: 15px;
      line-height: 23px;
    }
    @include m680px {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
