@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.LandingMultiLink {
  width: 100%;

  &__items {
    @include list-style-none;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;
    @include d1440px {
      padding-top: 100px;
    }
    @include p1150px {
      padding-top: 80px;
    }
    @include p920px {
      padding-top: 70px;
    }
    @include m680px {
      padding-top: 60px;
    }

    &:first-child {
      padding-top: 0;
    }
    &:not(:last-child):after {
      content: "";
      display: block;
      padding-bottom: 115px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      width: 100%;
      @include d1440px {
        padding-bottom: 100px;
      }
      @include p1150px {
        padding-bottom: 80px;
      }
      @include p920px {
        padding-bottom: 70px;
      }
      @include m680px {
        padding-bottom: 60px;
      }
    }
  }
  &__title {
    @include h2-style;
    color: $font-color-base;
    margin: 0;
    padding: 0 0 90px;
    width: 746px;
    text-align: center;
    @include d1440px {
      padding: 0 0 70px;
    }
    @include p1150px {
      padding: 0 0 60px;
    }
    @include p920px {
      padding: 0 0 50px;
    }
    @include m680px {
      padding: 0 0 40px;
    }
  }
  &__titlespan {
    color: $font-color-brown;
  }
  &__paragraphlist {
    justify-self: center;
    padding-bottom: 90px;
    @include d1440px {
      padding-bottom: 70px;
    }
    @include p1150px {
      padding-bottom: 60px;
    }
    @include p920px {
      padding-bottom: 50px;
    }
    @include m680px {
      padding-bottom: 40px;
    }
  }
  &__landinglinks {
    padding: 0;
  }
}
