@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.DescriptionNode {
  @include list-style-none;
  grid-row: 1 / 3;
  grid-column: 2;
  @include m680px {
    grid-row: 2;
    grid-column: 1;
  }

  &__nodeitem {
    border-bottom: 1px solid rgba(49, 49, 49, 0.3);
    padding: 30px 0px;
    position: relative;
    @include d1440px {
      padding: 28px 0px;
    }
    @include p1150px {
      padding: 26px 0px;
    }
    @include p920px {
      padding: 24px 0px;
    }
  }
  &__nodeitem::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $bg-color-greenish;
    @include d1440px {
      top: 38px;
      width: 8px;
      height: 8px;
    }
    @include p1150px {
      top: 35px;
      width: 7px;
      height: 7px;
    }
    @include p920px {
      top: 32px;
      width: 6px;
      height: 6px;
    }
    @include m680px {
      width: 5px;
      height: 5px;
    }
  }
  &__nodeitem:first-child::before {
    top: 9px;
    @include d1440px {
      top: 10px;
    }
    @include p1150px {
      top: 9px;
    }
    @include p920px {
      top: 8px;
    }
  }

  &__nodeitem:last-child {
    border-bottom: unset;
    padding: 30px 0 0;
    @include d1440px {
      padding: 28px 0 0;
    }
    @include p1150px {
      padding: 26px 0 0;
    }
    @include p920px {
      padding: 24px 0 0;
    }
  }
  &__nodeitem:first-child {
    padding: 0 0 30px;
    @include d1440px {
      padding: 0 0 28px;
    }
    @include p1150px {
      padding: 0 0 26px;
    }
    @include p920px {
      padding: 0 0 24px;
    }
  }
  &__nodeitemdescription {
    @include text-style;
    color: $font-color-base;
    width: 672px;
    padding-left: 23px;
    @include d1440px {
      padding-left: 18px;
      width: 540px;
    }
    @include p1150px {
      padding-left: 14px;
      width: 446px;
    }
    @include p920px {
      padding-left: 10px;
      width: 333px;
    }
    @include m680px {
      padding-left: 9px;
      width: 297px;
    }
  }
  &__nodeitemtitle {
    color: $font-color-greenish;
    font-family: $font-family-base;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    @include d1440px {
      font-size: 23px;
      line-height: 26px;
    }
    @include p1150px {
      font-size: 20px;
      line-height: 23px;
    }
    @include p920px {
      font-size: 18px;
      line-height: 19px;
    }
    @include m680px {
      font-size: 17px;
      line-height: 17px;
    }
  }
}
