@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.ContactEmail {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  &__title {
    margin: 0;
    padding: 60px 0 44px;
    color: $font-color-brown;
    font-family: $font-family-headline;
    font-size: 25px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0.02em;
    @include d1440px {
      padding: 48px 0 34px;
      font-size: 24px;
      line-height: 32px;
    }
    @include p1150px {
      padding: 40px 0 30px;
      font-size: 23px;
      line-height: 28px;
    }
    @include p920px {
      padding: 38px 0 26px;
      font-size: 22px;
      line-height: 25px;
    }
    @include m680px {
      padding: 36px 0 22px;
      font-size: 21px;
      line-height: 24px;
    }
  }
  &__items {
    @include list-style-none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    column-gap: 32px;
    row-gap: 60px;
    @include d1440px {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 26px;
      row-gap: 48px;
    }
    @include p1150px {
      column-gap: 22px;
      row-gap: 38px;
    }
    @include p920px {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 18px;
      row-gap: 30px;
    }
    @include m680px {
      grid-template-columns: 1fr;
      column-gap: unset;
      row-gap: 26px;
    }
  }
  &__item {
    background-color: $bg-color-brownligth;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.18);
    padding: 25px;
    @include d1440px {
      padding: 24px;
    }
    @include p1150px {
      padding: 23px;
    }
    @include p920px {
      padding: 22px;
    }
  }
  &__itemtitle {
    margin: 0;
    font-family: $font-family-headline;
    color: $font-color-base;
    font-size: 25px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0.02em;
    padding-bottom: 20px;
    @include d1440px {
      font-size: 23px;
      line-height: 32px;
      padding-bottom: 18px;
    }
    @include p1150px {
      font-size: 21px;
      line-height: 28px;
      padding-bottom: 16px;
    }
    @include p920px {
      font-size: 20px;
      line-height: 25px;
      padding-bottom: 15px;
    }
  }
  &__itememail {
    margin: 0;
    text-decoration: none;
    color: $font-color-base;
    font-family: $font-family-base;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    @include d1440px {
      font-size: 17px;
      line-height: 23px;
    }
    @include p1150px {
      font-size: 16px;
      line-height: 21px;
    }
    @include p920px {
      font-size: 15px;
      line-height: 19px;
    }
    @include m680px {
      font-size: 17px;
      line-height: 18px;
    }
  }
}
