@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.OrderChildrenParagraph {
  &__text {
    width: 100%;
    margin: 0;
    font-family: $font-family-base;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $font-color-base;
    padding-bottom: 56px;
    &:last-of-type {
      padding-bottom: 0;
    }
    @include d1440px {
      font-size: 18px;
      line-height: 26px;
      padding-bottom: 46px;
    }
    @include p1150px {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 36px;
    }
    @include p920px {
      font-size: 15px;
      line-height: 22px;
      padding-bottom: 28px;
    }
    @include m680px {
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 22px;
    }
  }
  &__title {
    font-family: $font-family-base;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    color: $font-color-greenish;
    @include d1440px {
      font-size: 23px;
      line-height: 28px;
    }
    @include p1150px {
      font-size: 21px;
      line-height: 26px;
    }
    @include p920px {
      font-size: 19px;
      line-height: 23px;
    }
    @include m680px {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
