@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.ThematicPointList {
  font-family: $font-family-base;
  color: $font-color-white;
  @include block-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
 
  &__title {
    text-align: center;
    @include h2-style;
    margin: 0;
    padding: 0 0 90px;
    @include d1440px {
      padding: 0 0 60px;
    }
    @include p1150px {
      padding: 0 0 54px;
    }
    @include p920px {
      padding: 0 0 52px;
    }
    @include m680px {
      padding: 0 0 48px;
    }
  }
  &__items {
    width: 100%;
    @include list-style-none;
    &::after {
      content: "";
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
  &__item {
    &::before {
      content: "";
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
  &__itemcontent {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 60px;
    @include d1440px {
      padding: 15px 0 45px;
    }
    @include p920px {
      padding: 15px 0 38px;
    }
    @include m680px {
      flex-direction: column-reverse;
      padding: 18px 0;
    }
  }
  &__itemtext {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    padding: 0 25px 0 0;
    @include d1440px {
      font-size: 23px;
      line-height: 28px;
    }
    @include p1150px {
      font-size: 21px;
      line-height: 25px;
    }
    @include p920px {
      font-size: 19px;
      line-height: 23px;
    }
    @include m680px {
      font-size: 17px;
      line-height: 22px;
    }
  }
  &__itemnumber {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
    @include d1440px {
      font-size: 18px;
      line-height: 28px;
    }
    @include p1150px {
      font-size: 17px;
      line-height: 25px;
    }
    @include m680px {
      font-size: 15px;
      line-height: 23px;
      padding-bottom: 18px;
    }
  }
}
