@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.ButtonPlayVideo {
  padding: 0;
  background-color: $bg-color-white;
  border: none;
  cursor: pointer;
  height: 54px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  @include d1440px {
    height: 36px;
  }
  @include m680px {
    height: 27px;
  }
  &__button {
    background-image: url("../../public/uipictures/playbutton.png");
    width: 54px;
    height: 54px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @include d1440px {
      width: 36px;
      height: 36px;
    }
    @include m680px {
      width: 26px;
      height: 26px;
    }
  }
  &__text {
    font-family: $font-family-headline;
    font-size: 22px;
    font-weight: 800;
    line-height: 27px;
    color: $font-color-base;
    &::after {
      content: "";
      display: block;
      padding-bottom: 1px;
      border-bottom: 2px solid #313131;
    }
    @include d1440px {
      font-size: 20px;
      line-height: 24px;
    }
    @include m680px {
      font-size: 17px;
      line-height: 21px;
    }
  }
}
