@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.OrderChildrenList {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include h2-style;
    text-align: center;
    @include p1150px {
      width: 432px;
    }
    @include p920px {
      width: 264px;
    }
    @include m680px {
      width: 293px;
    }
  }
  &__items {
    @include list-style-none;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    color: $font-color-base;
    font-family: $font-family-base;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    @include d1440px {
      padding: 14px 0 32px;
      font-size: 18px;
      line-height: 26px;
    }
    @include p1150px {
      padding: 13px 0 28px;
      font-size: 16px;
      line-height: 24px;
    }
    @include p920px {
      padding: 12px 0 26px;
      font-size: 15px;
      line-height: 23px;
    }
    @include m680px {
      padding: 10px 0 24px;
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__text {
    padding-right: 40px;
    margin: 0;
    @include d1440px {
      padding-right: 38px;
    }
    @include p1150px {
      padding-right: 37px;
    }
    @include p920px {
      padding-right: 34px;
    }
    @include m680px {
      padding-right: 30px;
    }
  }
  &__textid {
    margin: 0;
  }
}
